$background-primary: #24282f;

$background-secondary: #ffffff29;

$text-muted: #757575;

$black: #000;

$white: #f5f9f8;

$white-secondary: #9ba8ab;

$white-dark: #686868;

$primary-green: #6dc849;

$primary-orange: #fdca52;

$primary-red: #e51e18;
