.game-detail-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
}

.game-detail-image {
  width: 100%;
  max-width: 480px;
  height: 480px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  -webkit-box-reflect: below 5px
    linear-gradient(transparent, transparent, #0004);
}

.game-dt-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.game-dt-title {
  font-size: 50px;
  font-weight: 700;
  color: $white;
}

.game-dt-desc-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-dt-desc-span {
  color: $white;
  font-size: 24px;
  font-weight: 700;
}

.game-dt-desc {
  color: $white;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  max-width: 400px;
  text-align: justify;
}

.game-dt-information-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.game-dt-subtitle {
  font-size: 14px;
  font-weight: 500;
  color: $white-dark;
}

.game-dt-platforms-container {
  display: flex;
  gap: 0.5rem;
}

.game-dt-platforms {
  color: $white;
}

.game-dt-information-text {
  font-size: 16px;
  color: $white;
}

.game-dt-info-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.game-dt-information {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  row-gap: 2rem;
}
